@media (prefers-color-scheme: dark) {
    html {
        background-color: #393939;
        color: #e9e6e6;
    }

    :root {
        color-scheme: dark;
    }
    cdbl-modal .cdbl-modal--size-default .cdbl-modal__template-wrapper {
        width: 650px;
        background: #757575;
    }
    .project-team-member {
        background-color: #424242 !important;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.1);
    }
}

cdbl-expert-profile-skills-and-expertise .card__photo-wrapper,
cdbl-expert-profile-skills-and-expertise .card__thumb img {
    border-radius: 6px;
}
